BASE_RPC_URL=""
MATCHING_BACKEND_URL="http://127.0.0.1:8080"
RISK_SERVICE_URL="http://127.0.0.1:8083"
RISK_SERVICE_PORT="8083"
RISK_SERVICE_INITIAL_MARGIN_RATIO="0.10"
RISK_SERVICE_MAINTENANCE_MARGIN_RATIO="0.06"
RISK_SERVICE_MIN_MARGIN_USD="0.10"
MATCHING_BACKEND_ORDER_PATH="/v1/orders"
MATCHING_CHAIN_ID="8453"
MATCHING_ORDER_EXPIRY_SECONDS="3600"
MATCHING_MARKET_ORDER_SLIPPAGE_BPS="500"
MATCHING_ADDRESS=""
TRADE_MODULE_ADDRESS=""
BTC_PERP_ASSET_ADDRESS=""
NEXT_PUBLIC_PRIVY_APP_ID=""
PRIVY_APP_SECRET=""
VERCEL_ORG_ID=""
VERCEL_PROJECT_ID=""
VERCEL_TOKEN=""
